body {
  background-color: #f8e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin-top: 50px;
  text-align: center;
}

h1 {
  color: #c7254e;
  text-align: center;
  margin-bottom: 30px;
}

.form-control {
  border-color: #c7254e;
}

.btn-primary {
  background-color: #c7254e;
  border-color: #c7254e;
}

.btn-primary:hover {
  background-color: #ab2143;
  border-color: #ab2143;
}

#result {
  display: none;
  margin-top: 50px;
}

h2 {
  color: #c7254e;
  margin-bottom: 20px;
}

#tableBody tr td {
  text-align: center;
}

.table-bordered {
  border: 1px solid #dee2e6;
}
